# Django
DJANGO_SETTINGS_MODULE=conf.settings.local
DJANGO_SECRET_KEY=changethat
DJANGO_DEBUG=True
DOMAIN_ALIASES=localhost,127.0.0.1
SECURE_SSL_REDIRECT=False
STAGE=local

# CORS
CORS_ORIGIN_ALLOW_ALL=True
CORS_ORIGIN_WHITELIST=http://localhost,http://example.com

# Database
DATABASE_URL = postgres://postgres:postgres@db:5432/db

# AWS S3
DEFAULT_STORAGE_DSN=file:///data/media/?url=%2Fmedia%2F

# AWS SES
AWS_ACCESS_KEY_SES=eu-central-1
AWS_SECRET_KEY_SES=changethat
AWS_REGION_NAME_SES=changethat
